<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body}, ~{::head},'objectives')}">
  <head></head>
  <body>
    <h2>Objective Information</h2>

    <p class="lead mb-3">Stakeholder: <a th:href="@{/specification/__${specification.id}__/stakeholder/__${objective.stakeholder.id}__}" th:text="${objective.stakeholder.name}"></a></p>

    <table class="table table-striped" th:object="${objective}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
      </tr>
      <tr>
        <th>Description</th>
        <td th:text="*{description}"></td>
      </tr>
      <tr>
        <th>Notes</th>
        <td th:text="*{notes}"></td>
      </tr>
      <tr>
        <th>Priority</th>
        <td th:text="*{priority}"></td>
      </tr>
    </table>
    <div class="row">
      <div class="col">
        <a th:href="@{/specification/__${specification.id}__/stakeholder/__${stakeholder.id}__/objective/__${objective.id}__/edit}" class="btn btn-primary"><i class="fa fa-pencil me-1" aria-hidden="true"></i> Edit
          Objective</a>
        <a th:if="${!objective['new']}" class="btn btn-primary ms-2" onclick="if(confirm('Are you sure you want to delete this objective?')) document.getElementById('deleteForm').submit()"><i class="fa fa-trash-o me-2" aria-hidden="true"></i>Delete</a>
      </div>
    </div>
    <form id="deleteForm" th:object="${objective}" th:action="@{/specification/__${specification.id}__/stakeholder/__${stakeholder.id}__/objective/__${objective.id}__/delete}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{stakeholder}"/>
      <input type="hidden" id="delete-name"  th:field="*{name}"/>
    </form>

  </body>
</html>
