<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layoutTemplates :: layout (~{::contentBody}, ~{::head}, 'templates')}">
<head>
    <script type="text/javascript" th:src="@{/resources/js/collectionDropdown.js}"></script>
</head>
<body>
<th:block th:fragment="contentBody">
    <h2>Template Link</h2>

    <form th:object="${templateLink}" class="form-horizontal" id="add-template-link-form" method="post">
        <input type="hidden" th:field="*{specificationTemplate}"/>
        <input type="hidden" th:field="*{stakeholderTemplate}"/>
        <input type="hidden" th:field="*{objectiveTemplate}"/>
        <div class="form-group has-feedback">
            <div class="col-sm-offset-2 d-flex justify-content-end">
                <div th:replace="~{fragments/collectionDropdown :: collectionDropdownCommon(${specificationTemplates}, 'Choose Specification Template', 'No Specification Templates defined', 'specificationTemplate', 'specificationTemplate', 'specificationTemplate.name', null, null, null)}"/>
            </div>
            <input th:replace="~{fragments/inputField :: readOnly ('Specification Template Name', 'specificationTemplate.name', 'text')}"/>
            <div class="col-sm-offset-2 d-flex justify-content-end">
                <div th:replace="~{fragments/collectionDropdown :: collectionDropdownCommon(${stakeholderTemplates}, 'Choose Stakeholder Template', 'No Stakeholder Templates defined', 'stakeholderTemplate', 'stakeholderTemplate', 'stakeholderTemplate.name', null, null, null)}"/>
            </div>
            <input th:replace="~{fragments/inputField :: readOnly ('Stakeholder Template Name', 'stakeholderTemplate.name', 'text')}"/>
            <div class="col-sm-offset-2 d-flex justify-content-end">
                <div th:replace="~{fragments/collectionDropdown :: collectionDropdownCommon(${objectiveTemplates}, 'Choose Objective Template', 'No Objective Templates defined', 'objectiveTemplate', 'objectiveTemplate', 'objectiveTemplate.name', null, null, null)}"/>
            </div>
            <input th:replace="~{fragments/inputField :: readOnly ('Objective Template Name', 'objectiveTemplate.name', 'text')}"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 d-flex align-items-center">
                <a class="btn btn-primary" type="button" href="/templates">
                    <i class="fa fa-ban me-1" aria-hidden="true"></i>
                    <span>Cancel</span>
                </a>
                <button class="btn btn-primary ms-2" type="submit"
                        th:with="text=${templateLink['new']} ? 'Add Template Link' : 'Update Template Link',
                icon=${templateLink['new']} ? 'fa-plus' : 'fa-pencil-square-o'">
                    <i class="fa me-2" th:classappend="${icon}" aria-hidden="true"></i><span th:text="${text}">Add/Update</span>
                </button>
                <span class="flex-grow-1"></span>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    updateTreeForTemplateLink([[${templateLink.id}]]);
    </script>
</th:block>
</body>
</html>
