<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layoutTemplates :: layout (~{::contentBody}, ~{::head}, 'templateLinks')}">
<head></head>
<body>
<th:block th:fragment="contentBody">
    <h2>Find Template Link</h2>
    <form id="templateLinksForm" th:object="${templateLinkForm}" method="post">
        <input type="hidden" th:field="*{deleteTemplateLinkId}"/>
        <table id="templateLinks" class="table table-striped">
            <thead>
            <tr>
                <th>Link</th>
                <th>Specification Template</th>
                <th>Stakeholder Template</th>
                <th>Objective Template</th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input th:replace="~{fragments/templateLinkItemSelectField :: selectFilter ('filterSpecificationTemplate', ${specificationTemplates})}"/>
                </td>
                <td>
                    <input th:replace="~{fragments/templateLinkItemSelectField :: selectFilter ('filterStakeholderTemplate', ${stakeholderTemplates})}"/>
                </td>
                <td></td>
            </tr>
            </thead>
            <tbody th:with="isFiltered = ${templateLinkForm.filterSpecificationTemplate != null || templateLinkForm.filterStakeholderTemplate != null}">
            <td colspan="4" th:if="${#lists.isEmpty(templateLinks) && !isFiltered}">
                <div class="alert alert-warning mb-0">No Template Links have been defined.</div>
            </td>
            <td colspan="4" th:if="${#lists.isEmpty(templateLinks) && isFiltered}">
                <div class="alert alert-warning mb-0">No Template Links found for selected filters.</div>
            </td>
            <tr th:each="templateLink : ${templateLinks}" th:object="${templateLink}" th:with="templateLinkId = *{id}">
                <td>
                    <a th:href="@{/templateLink/__*{id}__/edit}" class="fa fa-chain lh-1 me-2 flex-grow-0">&nbsp;</a>
                </td>
                <td>
                    <a th:href="@{/specification/template/__*{specificationTemplate.id}__/edit}"
                       th:text="*{specificationTemplate.name}"/>
                </td>
                <td>
                    <a th:href="@{/stakeholder/template/__*{stakeholderTemplate.id}__/edit}"
                       th:text="*{stakeholderTemplate.name}"/>
                </td>
                <td>
                    <a th:href="@{/objective/template/__*{objectiveTemplate.id}__/edit}"
                       th:text="*{objectiveTemplate.name}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <a class="btn btn-primary" type="button" href="/templates">
        <i class="fa fa-ban me-1" aria-hidden="true"></i>
        <span>Cancel</span>
    </a>
    <script type="text/javascript">
    updateTreeForTemplateLinks();


    </script>
</th:block>
</body>
</html>

