<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layoutTemplates :: layout (~{::contentBody}, ~{::head}, 'templates')}">
<head></head>
<body>
<th:block th:fragment="contentBody">
    <h2>Stakeholder Templates</h2>

    <table id="stakeholder_templates" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Name</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stakeholderTemplate : ${stakeholderTemplates}">
            <td>
                <a th:href="@{/stakeholder/template/__${stakeholderTemplate.id}__/edit}"
                   th:text="${stakeholderTemplate.name}"/></a>
            </td>
            <td th:text="${stakeholderTemplate.priority}"/>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" type="button" href="/templates">
        <i class="fa fa-ban me-1" aria-hidden="true"></i>
        <span>Cancel</span>
    </a>
    <script type="text/javascript">
    updateTreeForStakeholderTemplates();

    </script>
</th:block>
</body>
</html>

