<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body}, ~{::head},'stakeholderObjectives')}">
<head>
  <script type="text/javascript" th:src="@{/resources/js/collectionDropdown.js}"></script>
</head>
<body>
  <h2>Stakeholder Objective</h2>

  <form th:object="${stakeholderObjective}" class="form-horizontal" id="add-stakeholder-objective-form" method="post">
    <input type="hidden" th:field="*{stakeholder}"/>
    <input type="hidden" th:field="*{specificationObjective}"/>
    <input type="hidden" id="collectionItemId" name="collectionItemId" th:attr="value=*{specificationObjective.id}"/>
    <div class="col-sm-offset-2 col-sm-10 d-flex justify-content-end">
      <span th:if="${stakeholderObjective['new']}">
        <div th:replace="~{fragments/collectionDropdown :: collectionDropdown(${specification.specificationObjectives}, 'Use Specification Objective', 'No Specification Objectives defined', 'existingSpecificationObjective')}" />
      </span>
      <a th:if="${!stakeholderObjective['new']}" class="btn btn-sm btn-primary ms-2" onclick="if(confirm('Are you sure you want to delete this stakeholder objective?')) document.getElementById('deleteForm').submit()"><i class="fa fa-trash-o me-2" aria-hidden="true"></i>Delete</a>
    </div>
    <div class="form-group has-feedback">
      <div class="form-group mb-3">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <div>
            <input class="form-control" type="text" id="name" th:attr="value=*{specificationObjective.name}" readonly/>
          </div>
          <th:block th:if="${#fields.hasErrors('specificationObjective')}">
            <span
                    class="fa fa-remove form-control-feedback"
                    aria-hidden="true"></span>
            <span class="help-inline" th:errors="*{specificationObjective}">Error</span>
          </th:block>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <div>
            <input class="form-control" type="text" id="description" th:attr="value=*{specificationObjective.description}" readonly/>
          </div>
        </div>
      </div>

      <input
        th:replace="~{fragments/inputField :: input ('Notes', 'notes', 'textarea')}" />
      <input
        th:replace="~{fragments/prioritySelectField :: select ('Priority', 'priority', ${priorities})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 d-flex">
        <button class="btn btn-primary" type="submit"
          th:with="text=${stakeholderObjective['new']} ? 'Add Stakeholder Objective' : 'Update Stakeholder Objective',
                  icon=${stakeholderObjective['new']} ? 'fa-plus' : 'fa-pencil-square-o'">
          <i class="fa me-1"  th:classappend="${icon}" aria-hidden="true"></i>
          <span th:text="${text}">Add/Update</span>
        </button>
        <span class="flex-grow-1"></span>
      </div>
    </div>
  </form>
  <form th:if="${!stakeholderObjective['new']}" id="deleteForm" th:object="${stakeholderObjective}" th:action="@{/specification/__${specification.id}__/stakeholder/__${stakeholder.id}__/stakeholderObjective/__${stakeholderObjective.id}__/delete}" method="post">
    <input type="hidden" th:field="*{id}"/>
  </form>
</body>
</html>
