<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layoutSpecifications :: layout (~{::contentBody}, ~{::head}, 'specifications')}">
<head>
    <script type="text/javascript" th:src="@{/resources/js/collectionDropdown.js}"></script>
</head>
<body>
<th:block th:fragment="contentBody">
    <h2>Specification Objective</h2>

    <form th:object="${specificationObjective}" class="form-horizontal" id="add-specification-objective-form"
          method="post">
        <input type="hidden" th:field="*{specification}"/>
        <input type="hidden" id="collectionType" name="collectionType" th:attr="value=${collectionType} ?: ''"/>
        <div th:if="${specificationObjective['new'] && collectionType == 'copyTemplate'}"
             class="col-sm-offset-2 d-flex justify-content-end">
            <div th:replace="~{fragments/templateDropdown :: templateDropdown(${objectiveTemplates})}"/>
        </div>
        <div class="form-group has-feedback">
            <input
                    th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
            <input
                    th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>
            <input
                    th:replace="~{fragments/inputField :: input ('Notes', 'notes', 'textarea')}"/>
            <input
                    th:replace="~{fragments/prioritySelectField :: select ('Priority', 'priority', ${priorities})}"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 d-flex">
                <a class="btn btn-primary" type="button" href="/specifications">
                    <i class="fa fa-ban me-1" aria-hidden="true"></i>
                    <span>Cancel</span>
                </a>
                <button class="btn btn-primary ms-2" type="submit"
                        th:with="text=${specificationObjective['new']} ? 'Add Specification Objective' : 'Update Specification Objective',
                  icon=${specificationObjective['new']} ? 'fa-plus' : 'fa-pencil-square-o'">
                    <i class="fa me-1" th:classappend="${icon}" aria-hidden="true"></i>
                    <span th:text="${text}">Add/Update</span>
                </button>
                <span class="flex-grow-1"></span>
            </div>
        </div>
    </form>
    <form th:if="${!specificationObjective['new']}" id="deleteForm" th:object="${specificationObjective}"
          th:action="@{/specification/__${specification.id}__/specificationObjective/__${specificationObjective.id}__/delete}"
          method="post">
        <input type="hidden" th:field="*{id}"/>
    </form>
    <script type="text/javascript">
    updateTreeForSpecificationObjective([[${specification.id}]], [[${specificationObjective.id}]]);

    </script>
</th:block>
</body>
</html>
