<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body}, ~{::head},'specifications')}">
<head>
  <script type="text/javascript" th:src="@{/resources/js/soamTemplate.js}"></script>
</head>
<body>
  <h2>Specification</h2>

    <div class="col-sm-10 text-end d-flex justify-content-end" th:if="${!#lists.isEmpty(specificationTemplates)}">
      <form th:if="${!specification['new']}" id="deleteForm" class="me-2" th:object="${specification}" th:action="@{/specification/__${specification.id}__/delete}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>
        <a class="btn btn-sm btn-primary" onclick="if(confirm('Are you sure you want to delete this specification?')) document.getElementById('deleteForm').submit()">Delete<i class="fa fa-trash-o ms-2" aria-hidden="true"></i> </a>
      </form>
      <div th:replace="~{fragments/soamTemplateButton :: templateButton(${specificationTemplates})}" />
    </div>
  <form th:object="${specification}" class="form-horizontal" id="add-specification-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Notes', 'notes', 'textarea')}" />
      <input
        th:replace="~{fragments/prioritySelectField :: select ('Priority', 'priority', ${priorities})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${specification['new']} ? 'Add Specification' : 'Update Specification'"
          class="btn btn-primary" type="submit" ><i class="fa fa-pencil me-1" aria-hidden="true"></i> <span th:text="${text}">Add
          Specification</span></button>
      </div>
    </div>
  </form>
</body>
</html>
