<h2>Specification</h2>

<div th:replace="~{fragments/flash :: flash}"></div>
<form th:object="${specification}"
      th:action="${specification['new']} ? @{/specification2/new} : @{/specification2/__${specification.id}__/edit}"
      class="form-horizontal"
      id="add-specification-form" method="post" onsubmit="soamFormSubmit(this);return false;">
    <input type="hidden" id="collectionType" name="collectionType" th:attr="value=${collectionType} ?: ''"/>
    <input type="hidden" id="collectionItemId" name="collectionItemId" th:attr="value=${collectionItemId} ?: -1"/>
    <div class="col-sm-offset-2 col-sm-10 d-flex justify-content-end">
        <span th:if="${specification['new'] && collectionType == 'srcSpecification'}">
            <div th:replace="~{fragments/collectionDropdown :: collectionDropdown(${specifications}, 'Copy Existing Specification', 'No Specifications defined', 'srcSpecification')}"/>
        </span>
        <span th:if="${specification['new'] && collectionType == 'templateDeepCopy'}" class="ms-2">
            <div th:replace="~{fragments/collectionDropdown :: collectionDropdown(${specificationTemplates}, 'Create from Template', 'No Specification Templates defined', 'templateDeepCopy')}"/>
        </span>
    </div>
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Notes', 'notes', 'textarea')}"/>
        <input
                th:replace="~{fragments/prioritySelectField :: select ('Priority', 'priority', ${priorities})}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 d-flex">
            <button class="btn btn-primary" type="submit"
                    th:with="text=${specification['new']} ? 'Add Specification' : 'Update Specification',
                  icon=${specification['new']} ? 'fa-plus' : 'fa-pencil-square-o'">
                <i class="fa me-1" th:classappend="${icon}" aria-hidden="true"></i>
                <span th:text="${text}">Add/Update</span>
            </button>
            <span class="flex-grow-1"></span>
        </div>
    </div>
</form>

<script type="text/javascript">
    initCollectionDropdown();

</script>