<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layoutSpecifications :: layout (~{::body}, ~{::head},'specifications')}">
<head></head>
<body>
<th:block th:fragment="contentBody">

<h2>Specifications</h2>
<table id="specifications" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 200px;">Name</th>
    <th>Priority</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="specification : ${specifications}">
    <td>
      <a th:href="@{/specification/__${specification.id}__/edit}" th:text="${specification.name}"/></a>
    </td>
    <td th:text="${specification.priority}"/>
  </tr>
  </tbody>
</table>
</th:block>
</body>
</html>

