<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout2 :: layout (~{::body}, ~{::head}, 'specifications_spa')}">
<head>
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/jstree/3.3.14/jstree.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/specifications.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/collectionDropdown.js}"></script>
    <link th:href="@{/webjars/jstree/3.3.14/themes/default/style.min.css}" rel="stylesheet">
</head>
<body>
<div class="row h-100">
    <div class="col-4">
        <h2>Entity Explorer</h2>
        <div id="tree"></div>
    </div>
    <div class="col-8">
        <div id="main"></div>
    </div>
</div>
</body>

</html>
